# This workflow runs tests for fdtd package.

name: fdtd tests

on: [push]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install test dependencies
        run: |
          python -m pip install -U pip
          pip install -e .[test]
      - name: Run pytest
        run: |
          pytest
